.apply-button-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.apply-button-anchor {
  border-radius: var(--default-border-radius);
  min-width: 100%;
}

.apply-button-content {
  background-color: var(--faded-secondary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-radius: var(--default-border-radius);
  color: var(--faint-alt-text);
  cursor: pointer;
}

.apply-button-name {
  text-align: center;
  text-decoration: underline;
}

.apply-button-anchor:hover .apply-button-content {
  background-color: var(--faint-alt-accent);
  color: var(--alt-alt-text);
}

.apply-button-anchor:active .apply-button-content {
  background-color: var(--alt-accent);
  color: var(--alt-text);
}
