:root {
  --primary-text: #fdf8ec;
  --secondary-text: #fdf8ecbb;
  --faded-text: #fdf8ec80;
  --primary-background: #00092c;
  --light-primary-background: #00092cdd;
  --faint-primary-background: #00092caa;
  --secondary-background: #8134ff;
  --faint-secondary-background: #8134ffbb;
  --faded-secondary-background: #8134ff99;
  --dead-secondary-background: #8134ff33;
  --primary-accent: #f7aa13;
  --mild-primary-accent: #f7aa13dd;
  --faint-primary-accent: #f7aa13bb;
  --faded-primary-accent: #f7aa1399;
  --weak-primary-accent: #f7aa1355;
  --dead-primary-accent: #f58a0033;
  --secondary-accent: #e14e01;
  --faint-secondary-accent: #e14e01bb;
  --veg: #53df8b;
  --faint-veg: #53df8bbb;
  --faded-veg: #53df8b99;

  --accent-text: var(--primary-text);
  --faint-accent-text: var(--secondary-text);
  --faded-accent-text: var(--faded-text);

  --alt-text: var(--primary-text);
  --faint-alt-text: var(--secondary-text);
  --faded-alt-text: var(--faded-text);

  --alt-accent: var(--secondary-background);
  --faint-alt-accent: var(--faint-secondary-background);
  --faded-alt-accent: var(--faded-secondary-background);
  --dead-alt-accent: transparent;

  --alt-background: var(--primary-background);
  --faint-alt-background: var(--faint-primary-background);
  --faded-alt-background: var(--faded-primary-background);

  --alt-primary-background: var(--secondary-background);
  --faint-alt-primary-background: var(--faint-secondary-background);
  --faded-alt-primary-background: var(--faded-secondary-background);

  --default-shadow-offset: 0rem;
  --default-shadow-blur: 0.15rem;
  --default-border-radius: 0.3rem;
  --container-shadow-color: var(--faded-secondary-background);
  --text-shadow-color: var(--secondary-text);
  --rating: 0%;
}

html {
  height: 100%;
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  .content {
    border-radius: 0rem !important;
  }

  .navbar-content {
    border-radius: 0rem !important;
  }
}

@media screen and (max-width: 576px) {
  html {
    /* font-size: 0.8rem !important; */
  }
}

@media screen and (max-width: 346px) {
  html {
    /* font-size: 0.4rem !important; */
  }
}

body {
  background-color: var(--primary-background);
  min-height: 100%;
  display: grid;
  color: var(--primary-text);
  grid-template-rows: 1fr auto;
  font-family: "Roboto Flex";
  text-shadow: 0rem 0rem 0.3rem var(--text-shadow-color);
  user-select: none;
}

.container {
  padding: 0rem;
}

.row {
  margin-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
}

* {
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
}
