.cart-content {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  border-radius: inherit;
}

.cart-anchor {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cart-items {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cart-item:first-child {
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}

.cart-item:last-child {
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

.cart-item-number {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
}

.cart-item-picture {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  max-height: 6rem;
  max-width: 8rem;
  border-radius: var(--default-border-radius);
}

.cart-item-content {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.cart-item-name {
  font-size: 1.3rem;
  display: flex;
  cursor: pointer;
}

.cart-item-name:hover {
  text-decoration: underline;
}

.cart-item-price {
  display: flex;
  color: var(--secondary-text);
}

.cart-item-input-container {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  padding: 0.5rem;
  flex: 1 1;
}

.cart-text-button {
  color: var(--alt-text);
  font-size: 1.3rem;
  background-color: var(--faded-secondary-background);
  padding: 0.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 0.5rem;
  cursor: pointer;
}

.cart-text-button:hover {
  background-color: var(--secondary-background);
}

.cart-text-button:last-of-type{
  border-top-right-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}

.cart-text-button:first-child {
  border-top-left-radius: var(--default-border-radius);
  border-bottom-left-radius: var(--default-border-radius);
}

.cart-item-input-text {
  cursor: default;
  text-align: center;
  color: var(--alt-text);
  width: 2rem;
  height: 1.5rem;
  display: flex;
  background-color: var(--faded-secondary-background);
}

.cart-item-delete {
  cursor: pointer;
  margin: 0rem 0rem 0rem auto;
  padding: 0rem 0.5rem 0rem 0.5rem;
  max-width: fit-content;
  height: min-content;
  background-color: var(--faint-secondary-accent);
  display: flex;
  flex-flow: row wrap;
  border-radius: var(--default-border-radius);
  color: var(--faint-alt-text);
}

.cart-item-delete:hover {
  color: var(--alt-text);
  background-color: var(--secondary-accent);
}
