.bigger-text {
  font-size: 1.375rem;
}

.secondary-text {
  color: var(--secondary-text);
}

.faded-text {
  color: var(--faded-text);
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.dark {
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.transitioning {
  transition: color 0.1s ease-in-out, text-decoration 0.1s ease-in-out,
    background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.focusable {
  cursor: pointer;
  padding: 0rem 0.4rem 0rem 0.4rem;
  border-radius: var(--default-border-radius);
  max-width: fit-content;
}

.focusable:hover {
  color: var(--primary-text);
  text-decoration: underline;
}

.focusable:active {
  color: var(--primary-text);
  text-decoration: underline;
  background-color: var(--secondary-background);
}

.template {
  display: none !important;
}

.enlightned:hover {
  color: var(--primary-text) !important;
}

.enlightned:active {
  color: var(--primary-text) !important;
}

.in-the-end {
  margin-left: auto !important;
}

.no-pointer {
  cursor: default !important;
}

.default-shadow {
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset)
      var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset)
      var(--default-shadow-blur) var(--container-shadow-color),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1)
      var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1)
      calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur)
      var(--container-shadow-color);
}

.accent-shadow {
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset)
      var(--default-shadow-blur) var(--faint-primary-accent),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset)
      var(--default-shadow-blur) var(--faint-primary-accent),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1)
      var(--default-shadow-blur) var(--faint-primary-accent),
    calc(var(--default-shadow-offset) * -1)
      calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur)
      var(--faint-primary-accent);
}

.icon-container {
  display: flex;
  margin: 0rem 0.1rem 0rem 0.1rem;
  align-items: center;
}

.small-icon {
  font-size: 1.2rem;
  height: min-content;
  border-radius: 100%;
  cursor: pointer;
}

input {
  border: none;
}

.error-plug {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.error-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  line-height: 4rem;
}

.error-emoji {
  font-size: 3rem;
}

.error-message {
  font-size: 1.3rem;
  color: var(--secondary-text);
}

.remove-icon:hover {
  background-color: var(--secondary-accent);
}

.remove-icon:active {
  background-color: var(--primary-text);
}

.garbage-icon:hover {
  background-color: var(--secondary-accent);
}

.garbage-icon:active {
  background-color: var(--primary-text);
}

.add-icon:hover {
  background-color: var(--primary-accent);
}

.add-icon:active {
  background-color: var(--primary-text);
}