.transitioning {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}

.template {
  display: none !important;
}

.no-pointer {
  cursor: default !important;
}

.default-shadow {
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color);
}

.accent-shadow {
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset) var(--default-shadow-blur) var(--faint-primary-accent),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset) var(--default-shadow-blur) var(--faint-primary-accent),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--faint-primary-accent),
    calc(var(--default-shadow-offset) * -1) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--faint-primary-accent);
}

.icon-container {
  display: flex;
  margin: 0rem 0.1rem 0rem 0.1rem;
  align-items: center;
}

.small-icon {
  font-size: 1.2rem;
  height: min-content;
  border-radius: 100%;
  cursor: pointer;
}

input {
  border: none;
}

.error-plug {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}

.error-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  line-height: 4rem;
}

.error-ok-button {
  display: none;
}

.error-ok-button[active="1"] {
  display: flex;
}

.error-emoji {
  font-size: 3rem;
  text-align: center;
}

.error-message {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--secondary-text);
  line-height: 1.4rem;
}

.remove-icon:hover {
  background-color: var(--secondary-accent);
}

.remove-icon:active {
  background-color: var(--primary-text);
}

.garbage-icon:hover {
  background-color: var(--secondary-accent);
}

.garbage-icon:active {
  background-color: var(--primary-text);
}

.add-icon:hover {
  background-color: var(--primary-accent);
}

.add-icon:active {
  background-color: var(--primary-text);
}
