.dropdown-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.dropdown-anchor {
  border-radius: var(--default-border-radius);
  background-color: var(--primary-background);
  color: var(--primary-text);
  min-width: 100%;
}

.dropdown-content {
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur)
      var(--container-shadow-color);
  position: relative;
}

.dropdown-content:hover {
  box-shadow: none;
}

.dropdown-content:hover {
  border-radius: var(--default-border-radius) var(--default-border-radius) 0rem 0rem;
}

.dropdown-content:hover .dropdown-options {
  display: flex;
  flex-flow: column wrap;
}

.dropdown-anchor:hover .active-option {
  border-radius: var(--default-border-radius) var(--default-border-radius) 0rem 0rem;
  background-color: var(--faded-secondary-background);
}

.option {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.option-content {
  display: flex;
}

.active-option {
  background-color: var(--light-primary-background);
  color: var(--secondary-text);
  padding-left: 0.2rem;
  border-radius: var(--default-border-radius);
}

.active-option:hover {
  background-color: var(--secondary-background) !important;
  color: var(--primary-text);
}

.dropdown-options {
  background-color: var(--faint-primary-background);
  width: 100%;
  position: absolute;
  display: none;
  z-index: 2;
  border-radius: 0rem 0rem var(--default-border-radius) var(--default-border-radius);
}

.hidden-option {
  background-color: var(--faint-secondary-background);
  /* margin: 0.1rem 0rem 0.1rem 0rem; */
  color: var(--secondary-text);
  cursor: pointer;
}

.hidden-option:hover {
  background-color: var(--secondary-background);
  color: var(--primary-text);
}

.hidden-option:last-child {
  border-radius: 0rem 0rem var(--default-border-radius) var(--default-border-radius);
}

.dropdown-option {
  color: var(--secondary-text);
}

.dropdown-option:hover {
}
