.menu-content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.my-cardholder {
  background-color: var(--primary-background);
  display: flex;
  flex-flow: row wrap;
  border-radius: var(--default-border-radius);
  justify-content: flex-start;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 100%;
}

.my-card {
  min-width: min-content;
  background-color: var(--primary-background);
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex: 0 1 23% !important;
  flex-flow: column;
  width: auto;
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color);
  border-radius: var(--default-border-radius);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.my-card-picture-container {
  position: relative;
  min-height: 3rem;
}

.my-card-picture {
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
  max-width: 100%;
  max-height: 100%;
}

.my-card-content {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.my-card-name {
  font-size: 1.4rem;
  cursor: pointer;
}

.my-card-name:hover {
  text-decoration: underline;
}

.my-card-category {
  color: var(--faded-text);
}

.my-card-rating-container {
  position: relative;
}

.my-card-rating {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1;
  justify-content: center;
  align-content: center;
  border-radius: var(--default-border-radius);
  text-shadow: none;
}

.my-card-rating-icon {
  font-size: 1.2em !important;
  color: var(--primary-accent);
  text-shadow: 0rem 0rem 0.3rem var(--primary-accent);
  cursor: default;
}

.my-card-description {
  color: var(--secondary-text);
  font-size: 0.9rem;
}

.my-card-footer {
  background-color: var(--faded-secondary-background);
  margin-top: auto;
  display: flex;
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
  align-content: center;
  border-top: 0.01rem solid var(--dead-alt-accent);
}

.my-card-price {
  color: var(--faint-alt-text);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0.5rem;
}

.my-card-option-container {
  margin: 0rem 0rem 0rem auto;
  display: flex;
}

.my-card-option-container[active='0'] .my-card-button {
  display: flex;
}

.my-card-option-container[active='0'] .my-card-input-container {
  display: none;
}

.my-card-option-container[active='1'] .my-card-input-container {
  display: flex;
}

.my-card-button {
  color: var(--faint-alt-text);
  display: none;
  flex-flow: row wrap;
  align-content: center;
  height: 100%;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0 0 var(--default-border-radius) 0;
  cursor: pointer;
}

.my-card-input-container {
  display: none;
  flex-flow: row wrap;
  flex: 1 1;
  align-content: center;
  justify-content: center;
  height: 100%;
  border-radius: 0 0 var(--default-border-radius) 0;
}

.my-card-input-text {
  max-width: 3rem;
  background-color: inherit;
  text-align: center;
  color: var(--faint-alt-text);
  cursor: default;
}

.my-card-button:hover {
  color: var(--alt-text);
  background-color: var(--faint-secondary-background);
}

.veg-icon-container {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.veg-icon {
  font-size: 2rem;
  cursor: default;
  text-shadow: none;
  color: var(--veg);
}

.shifted {
  transform: rotate(-30deg);
  bottom: 0.6rem;
  right: 0.8rem;
}

.my-card-text-button {
  color: var(--faint-alt-text);
  width: 2.5rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  height: 100%;
}

.my-card-text-button:hover {
  color: var(--alt-text);
  background-color: var(--secondary-background);
}

.my-card-text-button:last-of-type{
  border-bottom-right-radius: var(--default-border-radius);
}
