.pagination-container {
  margin-top: auto;
}

.pagination-anchor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.pagination-element-base {
  background-color: var(--faded-secondary-background);
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  min-width: 3rem;
  cursor: pointer;
  color: var(--faint-alt-text);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.pagination-element-base:hover {
  color: var(--alt-text);
  background-color: var(--alt-primary-background) !important;
}

.to-page-number {
  border-top: 0.01rem solid var(--dead-alt-accent);
  border-right: 0.01rem solid var(--dead-alt-accent);
}

.to-page-number[active="1"] {
  text-decoration: underline;
  color: var(--primary-text);
  background-color: var(--faint-alt-primary-background);
}

.to-first-page {
  border-left: 0.01rem solid var(--dead-alt-accent);
  border-top: 0.01rem solid var(--dead-alt-accent);
  border-right: 0.01rem solid var(--dead-alt-accent);
  border-radius: var(--default-border-radius) 0rem 0rem 0rem;
}

.to-last-page {
  border-right: 0.01rem solid var(--dead-alt-accent);
  border-top: 0.01rem solid var(--dead-alt-accent);
  border-radius: 0rem var(--default-border-radius) 0rem 0rem;
}
