.register-content {
  border-radius: inherit;
  padding: 0rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.login-content {
  border-radius: inherit;
  padding: 0rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.profile-content {
  border-radius: inherit;
  padding: 0rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}

.input-descriprion {
  display: flex;
  flex: 0 0 15%;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: center;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.input-content-container {
  display: flex;
  padding: 0.5rem;
}

.message-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
  padding: 0.5rem;
  justify-content: center;
  align-content: center;
}

.message-base {
  padding: 0.5rem;
}

.message-content {
  font-size: 1.5rem;
  background: linear-gradient(0.25turn, var(--secondary-background), var(--secondary-background)) center bottom 0.1rem /
    calc(100% - 1.5rem) 2px no-repeat;
  text-align: center;
}

.message-base[type="bad"] .message-content {
  font-size: 1.5rem;
  color: var(--secondary-accent);
  background: linear-gradient(0.25turn, var(--primary-accent), var(--secondary-accent)) center bottom 0.1rem / calc(100% - 1.5rem)
    2px no-repeat;
}

.message-base[type="good"] .message-content {
  font-size: 1.5rem;
  color: var(--veg);
  background: linear-gradient(0.25turn, var(--veg), var(--veg)) center bottom 0.1rem / calc(100% - 1.5rem) 2px no-repeat;
}

.register-content .input-content-container {
  flex-flow: column wrap;
}

.login-content .input-content-container {
  flex-flow: column wrap;
}

.profile-content .input-content-container {
  flex-flow: row wrap;
}

.input-descriprion:first-child {
  border-radius: var(--default-border-radius) var(--default-border-radius) 0rem 0rem;
}

.sex-dropdown-anchor {
  padding: 0.5rem !important;
  background: none !important;
}

.sex-dropdown-content {
}

.sex-dropdown-option {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0rem;
  height: 100%;

  justify-content: flex-start;
}

.bottom-button {
  cursor: pointer;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  background-color: var(--faint-secondary-background);
  margin-top: auto;
}

.bottom-button[active="0"] {
  display: none;
}

.bottom-button:hover {
  background-color: var(--secondary-background);
  color: var(--primary-text);
}
