nav {
  grid-row-end: 1;
  z-index: 1;
  margin: 1rem auto 0.5rem auto;
}

.navbar-content {
  padding: 0rem;
  border-radius: var(--default-border-radius);
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
}

.navbar-anchor {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: fit-content;
  justify-content: space-evenly;
  padding: 0.1rem;
}

.navbar-element {
  min-height: 2.5rem;
  align-self: stretch;
  background-color: var(--faded-secondary-background);
  color: var(--faint-alt-text);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
  flex: 1 1;
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
  border-radius: var(--default-border-radius);
  cursor: pointer;
  margin: 0.1rem;
}

.navbar-element:hover {
  color: var(--alt-text);
  background-color: var(--secondary-background);
}

#nav-profile {
  background-color: var(--primary-background);
  color: var(--secondary-text);
  justify-content: flex-end;
  cursor: default;
}

#nav-profile .element-prefix:hover{
  color: var(--primary-text);
}

#nav-profile[active="1"] .element-prefix{
  color: var(--primary-text) !important;
}

.navbar-e-mail-element {
  flex: 5 1 !important;
  width: max-content;
}

.navbar-element[active="1"] {
  background-color: var(--faint-secondary-background);
  text-decoration: underline;
}

.navbar-element[active="1"] .navbar-element-content {
  color: var(--alt-text);
}

.navbar-element-content {
  cursor: pointer;
  display: flex;
  flex-flow: row;
}

.navbar-element[active="1"] .element-prefix {
  text-decoration: underline;
}

.element-postfix {
  display: flex;
  text-decoration: none !important;
  border-radius: var(--default-border-radius);
  align-content: center;
  justify-content: center;
  width: 1.5rem;
  background-color: var(--secondary-background);
  margin-left: 0.3rem;
}

.element-postfix[active="0"]
{
  display: none;
}

.navbar-element:hover .element-postfix,
.navbar-element[active="1"] .element-postfix {
  background-color: var(--primary-accent);
}

.nav-brand {
  font-size: 1.5rem;
  display: flex;
  flex: 1 1 !important;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  color: var(--secondary-text);
  transition: all 0.1s ease-in-out;
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
}

.nav-brand:hover {
  color: var(--primary-text);
  text-shadow: 0.1rem 0.1rem 0.3rem var(--alt-text), -0.1rem -0.1rem 0.3rem var(--alt-text);
}

#main-content[ready="0"] {
  display: none !important;
}

#main-content[ready="1"] {
  /*  */
}

.content {
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: 0;
  margin: 0.5rem auto 0.5rem auto;
  box-shadow: var(--default-shadow-offset) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) var(--default-shadow-offset) var(--default-shadow-blur) var(--container-shadow-color),
    var(--default-shadow-offset) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur) var(--container-shadow-color),
    calc(var(--default-shadow-offset) * -1) calc(var(--default-shadow-offset) * -1) var(--default-shadow-blur)
      var(--container-shadow-color);
  border-radius: var(--default-border-radius);
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  margin: 0.5rem auto 1rem auto;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 1;
}

.footer-content {
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--faded-text);
}

.vertical-separator {
  border-right: 0.01rem solid var(--secondary-background);
  box-shadow: 0rem 0rem var(--default-shadow-blur) var(--container-shadow-color),
    0rem 0rem var(--default-shadow-blur) var(--container-shadow-color),
    0rem 0rem var(--default-shadow-blur) var(--container-shadow-color),
    0rem 0rem var(--default-shadow-blur) var(--container-shadow-color);
}

.navbar-separator {
  display: flex;
  flex: 2 0 10%;
}

.horizontal-separator {
  border-bottom: 0.01rem solid var(--secondary-background);
  box-shadow: 0rem 0rem var(--default-shadow-blur) var(--container-shadow-color),
    0rem 0rem var(--default-shadow-blur) var(--container-shadow-color);
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  /* margin: 0.2rem calc(var(--bs-gutter-x) * 1) 0.2rem calc(var(--bs-gutter-x) * 1); */
}

.equate-width {
  margin-left: calc(var(--bs-gutter-x) * 0.5 + 0.7rem);
  margin-right: calc(var(--bs-gutter-x) * 0.5 + 0.7rem);
}

.filter-bar {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.filter-bar-element {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: auto;
  flex: 1 1;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.page-title {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 2rem;
}
